* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: radial-gradient(rgb(0, 0, 30), black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  margin-top: 90vh;
  margin-left: 50vw;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: 100;
  font-size: 4.5rem;
  text-shadow: 0px -100px 15px grey, 0px -200px 30px grey, 0px -300px 45px grey, 0px -400px 60px grey, 0px -500px 75px grey;
}
.maincontent {
  margin: 0;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 33%;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.text1 {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 20%;
  left: 16.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

.text2 {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 20%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

.text3 {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 20%;
  left: 82.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}

#section1:hover {
  opacity: 20%;
  background-image: url(/assets/pictures/me.jpg);
  background-size: cover;
  transition: ease 3s;
}

#section2:hover {
  opacity: 20%;
  background-image: url(/assets/pictures/projects.jpg);
  background-size: cover;
  transition: ease 3s;
}

#section3:hover {
  opacity: 20%;
  background-image: url(/assets/pictures/contact.jpg);
  background-size: cover;
  transition: ease 3s;
}

@media (max-width: 1100px) {
  h1 {
    margin-top: 2rem;
    margin-left: 50vw;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 1.4rem;
    text-shadow: 0px 32px 4px grey, 0px 64px 6px grey, 0px 96px 8px grey, 0px 128px 10px grey, 0px 160px 12px grey;
  }
  #section1:hover {
    background-position: 50%;
  }
  #section3:hover {
    background-position: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    flex-direction: column;
    max-height: 33.3vh;
  }
  #section1:hover {
    background-position: 50%;
  }

  .text1 {
    top: 20%;
    left: 50%;
  }
  .text2 {
    top: 55%;
    left: 50%;
  }
  .text3 {
    top: 88%;
    left: 50%;
  }
}
